body {
  background-image: url("immagini/backgroundSapere.jpg");
  display: block;
  position: absolute;
  padding: 0;
  width: 98%;
  height: 98%;
}
p {
  font-size: 2rem;
}

#data {
  text-align: right;
}

a{
    font-size: 2rem;
    border: 1px solid black;
    color: black;
}
