body {
  margin: 0%;
  height: 100ch;
  width: 100%;
  overflow: auto;
  position: absolute;
  display: block;
}

header {
  background-image: url("immagini/informazioniImage.jpg");
  display: block;
  position: absolute;
  height: 36%;
  width: 100%;
}

.home {
  top: 8%;
  left: 10%;
  display: block;
  position: absolute;
}

.home a {
  transform: translate(-50%, -50%);
  position: absolute;
  color: #1670f0;
  padding: 10px 30px;
  font-size: 10x;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  background: mistyrose;
  box-sizing: border-box;
}

.home a::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 50%;
}

.home a span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #0c002b, #1779ff);
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.home a span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 1%;
  height: 96px;
  background: linear-gradient(to bottom, #0c002b, #1779ff);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.home a span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #0c002b, #1779ff);
  animation: animate3 2s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.home a span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 96px;
  background: linear-gradient(to top, #0c002b, #1779ff);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.download {
  border: 1px solid black;
  display: block;
  position: absolute;
  left: 10%;
  top: 28%;
}

.download a {
  transform: translate(-50%, -50%);
  position: absolute;
  color: #1670f0;
  padding: 10px 10px;
  font-size: 10x;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  background: mistyrose;
}

.download a::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 50%;
}

.download a span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #0c002b, #1779ff);
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.download a span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 1%;
  height: 96px;
  background: linear-gradient(to bottom, #0c002b, #1779ff);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.download a span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #0c002b, #1779ff);
  animation: animate3 2s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.download a span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 96px;
  background: linear-gradient(to top, #0c002b, #1779ff);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.info {
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 22%;
  font-size: 49px;
  color: black;
  font-weight: 900;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

main {
  top: 36%;
  display: block;
  position: absolute;
  background-color: white;
  height: auto;
  width: 100%;
  font-size: 90%;
}

footer {
  display: block;
  position: absolute;
  background-color: bisque;
  top: 90%;
  height: auto;
  width: 100%;
  border: 1px solid black;
}

img {
  width: 10%;
  height: auto;
}
